.input-style {
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #666;
    background-color: #fff;
    width: 100%;
    outline: none;
}

.button-style {
    background-color: #eee;
    color: #111;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button-style:hover {
    background-color: #111;
    color: #fff;
    transform: translateY(-1px);
}

.button-style:focus {
    outline: none;
}